name: Test
on:
  push:
    branches:
      - prod
jobs:
  job1:
    name: testing azure cli
    runs-on: ubuntu-latest
    env:
      CONTAINER_APP_NAME: msk-dev-signup
    steps:
      - id: step1
        name: azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - id: step2
        name: install container app extension
        shell: bash
        run: |
          az extension add -n containerapp
      
      - id: step3
        name: get list of containerapps
        shell: bash
        run: |
          OUTPUT=$(az containerapp show --name msk-dev-signup --resource-group msk-dev-signup --query "name" -o tsv | tr -d '[:space:]') &&
          echo $OUTPUT &&
          if (( $CONTAINER_APP_NAME == $OUTPUT ))
          then
            echo "::set-output name=OUTPUT::1"
          else
            echo "::set-output name=OUTPUT::0"
          fi
      - id: step4
        if: steps.step3.outputs.OUTPUT == 1
        name: Display containerapp id
        shell: bash
        run: |
          echo "It really worked!"