name: Test
on:
  push:
    branches:
      - prod
jobs:
  job1:
    name: testing azure cli
    runs-on: ubuntu-latest
    steps:
      - id: step1
        name: azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - id: step2
        name: install container app extension
        shell: bash
        run: |
          az extension add -n containerapp
      
      - id: step3
        name: get list of containerapps
        shell: bash
        run: |
          OUTPUT=$(az containerapp show --name msk-dev-signup --resource-group msk-dev-signup --query "name") &&
          echo $OUTPUT &&
          echo "::set-output name=OUTPUT::$OUTPUT"

      - id: step4
        if: steps.step3.outputs.OUTPUT == 'msk-dev-signup'
        name: Display containerapp id
        shell: bash
        run: |
          echo ${{ steps.step3.outputs.OUTPUT }}