name: Test
on:
  push:
    branches:
      - prod
jobs:
  job1:
    name: testing azure cli
    runs-on: ubuntu-latest
    env:
      CONTAINERAPP_NAME: "one"
    steps:
      - id: step1
        name: azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - id: step2
        name: install container app extension
        shell: bash
        run: |
          az extension add -n containerapp
      
      - id: step3
        name: get list of containerapps
        shell: bash
        run: |
          CONTAINERAPP_NAME=$(az containerapp list --output json | grep /Microsoft.App/containerapps/msk-prod-signup)
      
      - id: step4
        name: Display containerapp id
        shell: bash
        run: |
          echo ${{ steps.step3.outputs.CONTAINERAPP_NAME }}