name: Test
on:
  push:
    branches:
      - prod
jobs:
  job1:
    name: testing azure cli
    runs-on: ubuntu-latest
    steps:
      - id: step1
        name: azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
        run: |
          az containerapp list