name: Test
on:
  push:
    branches:
      - prod
  workflow_dispatch:
    inputs:
      enableManualDeployment:
        required: true
        description: allowed manual deployment
        default: execute
env:
  CONTAINER_APP_ENVIRONMENT: mlstudio
  STORAGE_CONTAINER_NAME: mlstudio
  STORAGE_ACCOUNT_NAME: mlstudio1
  CONTAINER_APP_NAME: mlstudio
  RESOURCE_GROUP: mlstudio
  REGION: eastus

jobs:
  job1:
    name: Run test
    runs-on: ubuntu-20.04
    steps:
      - id: step1
        name: checkout
        uses: actions/checkout@v2
      - id: step2
        name: download and setup python version
        uses: actions/setup-python@v3
        with:
          python-version: 3.10.0
          cache: pip
      - id: step3
        name: Install packages
        shell: bash
        run: |
          pip install -r requirements.txt
      - id: step4
        name: build and test model
        shell: bash
        run: |
          pytest -v -s
  job2:
    name: Build and save model as artifact
    runs-on: ubuntu-20.04
    needs: [job1]
    steps:
      - id: step1
        name: checkout
        uses: actions/checkout@v2
      - id: step2
        name: download and setup python version
        uses: actions/setup-python@v3
        with:
          python-version: 3.10.0
          cache: pip
      - id: step3
        name: Install packages
        shell: bash
        run: |
          pip install -r requirements.txt
      - id: step4
        name: Build model
        shell: bash
        run: |
          python3 build.py
      - id: step5
        name: Upload model as artifact
        uses: actions/upload-artifact@v3
        with:
          name: model
          path: model.pkl
          retention-days: 1
  job3:
    name: upload model to storage account
    runs-on: ubuntu-latest
    needs: [job2]
    steps:

      - id: step1
        name: checkout
        uses: actions/checkout@v3
      
      - id: step2
        name: azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - id: step5
        name: download model from artifact registry
        uses: actions/download-artifact@v3
        with:
          name: model

      - id: step6
        name: display connection string
        shell: bash
        run: |
          az storage blob copy start \
          --account-key ${{ secrets.STORAGE_ACCOUNT_PRIMARY_CONNECTION_STRINGS }} \
          --account-name $STORAGE_ACCOUNT_NAME \
          --destination-blob model \
          --destination-container $STORAGE_CONTAINER_NAME \
          --source-uri https://storage.blob.core.windows.net/
          