name: Stroke prediction github actions
on:
  push:
    branches:
      - prod
  workflow_dispatch:
    inputs:
      manualExecution:
        required: true
        description: Allow manual invocation
        type: choice
        options:
          - dev
          - stage
          - prod
        default: prod
jobs:
  job1:
    name: Run test
    runs-on: ubuntu-20.04
    steps:
      - id: step1
        name: checkout
        uses: actions/checkout@v2
      - id: step2
        name: download and setup python version
        uses: actions/setup-python@v3
        with:
          python-version: 3.10.0
          cache: pip